<section class="main-card">
    <div class="container">
        <div class="main-section">
            <div class="main-title">Features</div>
            <div class="description">
                Together let’s fight climate change and make our planet a better place for future generations.
            </div>
        </div>
    </div>
</section>
<section class="about-us">
    <div class="container">
        <!-- <div fxLayout="row wrap">
            <div fxFlex="100"  fxFlex.xs="100" class="padding-10">
                <div class="main-title m-t-10">Save Energy</div>
                <p class="description m-t-0 m-b-5">Its a platform created with a goal to not make money but to save our mother earth from damages done to it by humanity. Human desire to expand their comfort and luxury have impacted this planet in macro levels and as scientists point out we are almost near point of no return. 
                </p>               
            </div>
        </div> -->

        <div fxLayout="row wrap">
            <div fxFlex="25" fxFlex.md="33.3" fxFlex.sm="50" fxFlex.xs="100">
                <div class="card">
                    <img src="../../../assets/features/1.svg" alt="Share Electricity Usage">
                    <div class="sub-title">Share Electricity Usage </div>
                   </div>
            </div>

            <div fxFlex="25" fxFlex.md="33.3" fxFlex.sm="50" fxFlex.xs="100">
                <div class="card">
                    <img src="../../../assets/features/2.svg" alt="Turn off engine at stop lights">
                    <div class="sub-title">Turn off engine at stop lights</div>
                   </div>
            </div>

            <div fxFlex="25" fxFlex.md="33.3" fxFlex.sm="50" fxFlex.xs="100">
                <div class="card">
                    <img src="../../../assets/features/3.svg" alt="Install sense like devices">
                    <div class="sub-title">Install sense like devices </div>
                   </div>
            </div>

            <div fxFlex="25" fxFlex.md="33.3" fxFlex.sm="50" fxFlex.xs="100">
                <div class="card">
                    <img src="../../../assets/features/4.svg" alt="Smart home installations">
                    <div class="sub-title">Smart home installations </div>
                   </div>
            </div>

            <div fxFlex="25" fxFlex.md="33.3" fxFlex.sm="50" fxFlex.xs="100">
                <div class="card">
                    <img src="../../../assets/features/5.svg" alt="Install sensors for water usage level">
                    <div class="sub-title">Install sensors for water usage level </div>
                   </div>
            </div>

            <div fxFlex="25" fxFlex.md="33.3" fxFlex.sm="50" fxFlex.xs="100">
                <div class="card">
                    <img src="../../../assets/features/6.svg" alt="Cancel subscription based clothes shopping">
                    <div class="sub-title">Cancel subscription based clothes shopping </div>
                   </div>
            </div>

            <div fxFlex="25" fxFlex.md="33.3" fxFlex.sm="50" fxFlex.xs="100">
                <div class="card">
                    <img src="../../../assets/features/7.svg" alt="Limit Fireworks for festivals">
                    <div class="sub-title">Limit Fireworks for festivals </div>
                   </div>
            </div>

            <div fxFlex="25" fxFlex.md="33.3" fxFlex.sm="50" fxFlex.xs="100">
                <div class="card">
                    <img src="../../../assets/features/8.svg" alt="Return to nearby collections hub">
                    <div class="sub-title">Return to nearby collections hub </div>
                   </div>
            </div>
            
            <div fxFlex="25" fxFlex.md="33.3" fxFlex.sm="50" fxFlex.xs="100"></div>

            <div fxFlex="25" fxFlex.md="33.3" fxFlex.sm="50" fxFlex.xs="100">
                <div class="card">
                    <img src="../../../assets/features/9.svg" alt="Replace grocery plastics bags">
                    <div class="sub-title">Replace grocery plastics bags </div>
                   </div>
            </div>

            <div fxFlex="25" fxFlex.md="33.3" fxFlex.sm="50" fxFlex.xs="100">
                <div class="card">
                    <img src="../../../assets/features/10.svg" alt="Buy water in paper containers">
                    <div class="sub-title">Buy water in paper containers </div>
                   </div>
            </div>
        </div>
    </div>
</section>

<section class="call-to-action">
    <div class="container">
        <div fxLayout="row wrap">
        <div fxFlex="80"  fxFlex.xs="100" class="title">Join us today to fight climate change</div>
        <div fxFlex="20"  fxFlex.xs="100"> <button mat-raised-button class="filled-white float-right" routerLink="/contact-us">Contact Us</button></div>
        </div>
    </div>
</section>