<section class="terms">
    <div class="container">
        <div class="main-section">
            <div class="main-title">Terms and Condition</div>
        </div>
    </div>
</section>

<section class="terms-container">
    <div class="container bg-white">
        <div fxLayout="row wrap">
            <div fxFlex="100" fxFlex.xs="100" class="card bg-white">
                <div class="title">Terms</div>
                <p>At UTURNGREEN , we take privacy and security seriously. This United States Privacy Policy outlines how DATAJILLA LLC and its affiliates (collectively, the “Company,” “DataJilla,” “we,” “our,” or “us”) process the information we collect about you through our websites, mobile apps, and other online services (collectively, the “Services”) and when you otherwise interact with us, such as through our customer service channels.   
                </p>
                <div class="title">
                    User of the UTG app agree
                </div>
                <p>Agree to our points allocation algorithms - Users agree that they accept the points allocated to them for their sustainability activities. Individual users may be assigned differing points for their subscription because they may be given points with more weight than the other.</p>
                <div class="title">
                    Providing incorrect data 
                </div>
                <p>Users agree that they provide correct data to their best knowledge and repeated incident of bad data submissions cto earn points and dollars may results in permanent suspension of the user from using the UTG app.
                </p>
            </div>
        </div>
    </div>
</section>