<section class="footer bg-dark">
  <div class="container border-bottom">
    <div fxLayout="row wrap">
      <div fxFlex="30" fxFlex.xs="100">
        <div class="first-column">
          <img src="../../../assets/img/logo@3x.png" alt="">
          <p>“Its time we stop thinking and start doing!”</p>
        </div>
      </div>

      <div fxFlex="30" fxFlex.xs="100">
        <div class="second-column useful-links">
          <h3>Useful links</h3>
          <ul>
            <li><a routerLink="/donation"><i class="fa-solid fa-angle-right"></i> Donation</a></li>
            <li><a routerLink="/about-us"><i class="fa-solid fa-angle-right"></i> About UTG</a></li>
            <li><a routerLink="/features"><i class="fa-solid fa-angle-right"></i> Features</a></li>
            <li><a  routerLink="/contact-us"><i class="fa-solid fa-angle-right"></i> Contact Us</a></li>
          </ul>
        </div>
      </div>

      <div fxFlex="40" fxFlex.xs="100">
        <div class="second-column useful-links">
          <h3>Contact Us</h3>
          <ul>
            <li><i class="fa-solid fa-location-pin"></i> 2750 Peachtree Ind Blvd, Suite F, Duluth,GA - 30097</li>
            <li><i class="fa-solid fa-phone"></i> (952) 393 2464</li>
            <li><i class="fa-solid fa-envelope"></i> rightnow@uturngreen.com</li>
          </ul>
        </div>
      </div>

    </div>
  </div>
  <div class="container">
    <div fxLayout="row wrap">
      <div fxFlex="50"  fxFlex.xs="100">
        <p class="text-white text-xs-center">© 2022 U Turn Green. All rights reserved.</p>
      </div>
      <div fxFlex="50" class="text-right"  fxFlex.xs="100">
        <p class="text-white"> <a class="p-r-10 text-white" routerLink="/terms-and-condition" target="terms_utg">Terms and condition</a>|<a class="p-l-10 text-white" target="privacy_utg"  routerLink="/privacy-policy">Privacy
            Policy</a></p>
      </div>
    </div>
  </div>
</section>