<section class="main-container bg-1">
    <div class="container">
        <div class="main-section">
            <div class="main-title">Fight against Climate Change and Global Warming	</div>
            <div class="description">
                Together let's fight climate change and make our planet a better place for future generations. We focus on accomplishing this by bringing awareness around the issues and giving quick actions that everyone can do to reduce the impact that we do to this beautiful planet.
            </div>
            <div class="actions m-t-20">
                <button mat-raised-button class="filled-white" routerLink="/about-us">Read More</button>
                <button mat-raised-button class="outline-white" routerLink="/contact-us">Contact Us</button>
            </div>
        </div>
    </div>
</section>
<section class="feature-container" id="adout">
    <div class="container">
        <div fxLayout="row wrap">
            <div fxFlex="25" fxFlex.sm="50" fxFlex.xs="100">
                <div matRipple class="card bg-yellow">
                    <img src="../../../assets/img/energy-saving.svg" alt="Save Energy">
                    <div>Save Energy</div>
                    <p>Focus on reducing carbon footprint</p>
                </div>
            </div>
            <div fxFlex="25" fxFlex.sm="50" fxFlex.xs="100">
                <div matRipple class="card bg-red">
                    <img src="../../../assets/img/waste.svg" alt="Reduce Plastics">
                    <div>Reduce Plastics</div>
                    <p>Exploring all possible options for replacing plastics where possible.</p>
                </div>
            </div>
            <div fxFlex="25" fxFlex.sm="50" fxFlex.xs="100">
                <div matRipple class="card bg-blue">
                    <img src="../../../assets/img/water-faucet.svg" alt="Save Water">
                    <div>Save Water</div>
                    <p>Aim to preserve and save water</p>
                </div>
            </div>
            <div fxFlex="25" fxFlex.sm="50" fxFlex.xs="100">
                <div matRipple class="card bg-green">
                    <img src="../../../assets/img/flower-pot.png" alt="Support Flora & Fauna & Environment">
                    <div>Support Flora & Fauna & Environment</div>
                    <p>Focus on things that benefit our eco system not just humans. </p>
                </div>
            </div>
        </div>
        <div fxLayout="row wrap" class="inner-section">
            <div fxFlex="100">
                <div class="main-title">Who we are ?</div>
                <div class="description">
                    We are technology savvy and environment friendly team working to build a platform to unite everyone on this planet - we literally mean “every one ” to become aware of the climate change and global warming and what actions each and everyone can take at the comfort of their mobile phone to contribute for greater greener future of this planet and leave a better place for our kids.</div>
            </div>
        </div>
    </div>
</section>
<section class="about-us bg-2">
    <div class="container">
        <div fxLayout="row wrap">
            <div fxFlex="60"  fxFlex.xs="100" class="padding-10">
                <div class="main-title m-t-10">About UTG</div>
                <p class="description m-t-0 m-b-5">Its a platform created with a goal to not make money but to save our mother earth from damages done to it by humanity. Human desire to expand their comfort and luxury have impacted this planet in macro levels and as scientists point out we are almost near point of no return. 
                </p>
                <p class="description m-t-0">This platform is created as mobile app so everyone can access it immediately, learn about the damages we are doing to our planet, 
                    Start contributing to save planet from day one. There are four areas where anyone can contribute - Energy, Water, Plastics, and Flora & Fauna.<br/><br/>Our platform brings not just awareness but we are going to invest the money we are making in this platform to research innovative products and processes that would help our Mother Nature to slow down and reverse from the negative impacts it had for decades.

                    </p>
                <!-- <ul class="p-l-10 m-l-10">
                    <li>Donec interdum massa sollicitudin, vestibulum sem ac, commodo orci.</li>
                    <li>Vivamus consequat lacus quis quam luctus dignissim.</li>
                    <li>Quisque non libero nec elit vehicula placerat quis ac eros.</li>
                </ul> -->
                <!-- <button mat-raised-button class="filled-white" routerLink="/about-us">Read More</button> -->
            </div>
            <div fxFlex="40"  fxFlex.xs="100" class="padding-10">
                <img src="../../../assets/img/about-utg.png" alt="About Us" class="about-img">
            </div>
        </div>
    </div>
</section>

<section class="about-vision-and-mission">
    <div class="container">
        <div fxLayout="row wrap">
            <div fxFlex="50" fxFlex.xs="100">
                <div class="our-mission">
                    <mat-card>
                        <img src="../../../assets/img/goals.svg" alt="">
                        <div>Our Mission</div>
                        <p>To leave our planet a better place for our future generations</p>
                    </mat-card>
                </div>
            </div>
            <div fxFlex="50" fxFlex.xs="100">
                <div class="our-vision">
                    <mat-card>
                        <img src="../../../assets/img/goals.svg" alt="">
                        <div>Our Vision</div>
                        <p>To educate and bring awareness on climate change and provide
                            creative and innovative steps to act immediately and fight against it</p>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="call-to-action">
    <div class="container">
        <div fxLayout="row wrap">
        <div fxFlex="80"  fxFlex.xs="100" class="title">Join us today to fight climate change</div>
        <div fxFlex="20"  fxFlex.xs="100"> <button mat-raised-button class="filled-white float-right" routerLink="/contact-us">Contact Us</button></div>
        </div>
    </div>
</section>